# Node.js
node_modules/

# Yarn Plug'n'Play файлы
.pnp.*
.yarn/


# Build outputs
dist/
build/
coverage/

# Test mocks
__mocks__/


.vite/
.storybook-out/

# Config files (optional: ignore if not linting them)
*.config.js
*.config.cjs
*.config.mjs

# Logs and cache
*.log
.cache/

temp/
tmp/
